# Docker:
.docker/
.env
.env.*
docker-compose.override.yml
data/
volumes/

# Python:
__pycache__/
*.py[cod]
*.pyo

# Python virtual environments:
.venv/
venv/
env/

# Django:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# IDE
.vscode/
.idea/
